Ciao,

qualcuno ha richiesto la verifica di questo indirizzo e-mail, ma non abbiamo trovato un account per questo indirizzo.

Se sei stato tu, controlla se ti sei registrato utilizzando un altro indirizzo.

Se non sei stato tu, puoi ignorare questo messaggio.