<html>

<head>
  <style>
    #template_email {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      max-width: 555px;
      margin: auto;
      padding: 70px 20px;
      background: #FAFBFF;
    }

    .box-grey {
      background-color: #F2F4F9;
      text-align: center;
      padding: 42px 0;
    }

    .box-white {
      background-color: white;
      border-radius: 0 0 8px 8px;
      padding: 40px 24px;
    }

    p {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      color: #34363F;
    }

    a {
      font-size: 16px;
      font-family: 'Open Sans', sans-serif;
      color: #1079FF;
      text-decoration: none;
    }

    .regards {
      color: #C3C7D3;
      font-style: italic;
    }
  </style>
</head>

<body>
  <div class="" id="template_email">
    <div class="box-grey">
      <img src="https://mexedia-sso-dev-back-end.s3.eu-south-1.amazonaws.com/mexedia-logo.png" alt="mexedia-logo">
    </div>
    <div class="box-white">
      <p>Ciao,</p>

      <p class="mt-2">qualcuno ha richiesto la verifica di questo indirizzo e-mail, ma non abbiamo trovato un account per questo indirizzo.</p>
      <p class="mt-2">Se sei stato tu, controlla se ti sei registrato utilizzando un altro indirizzo.</p>
      <p class="mt-2">Se non sei stato tu, puoi ignorare questo messaggio.</p>

      <p class="regards mt-3">Team Mexedia</p> 
    </div>
  </div>
</body>

</html>