@use '../../node_modules/@carbon/styles/scss/theme' with (
  $theme: (
      background: #ff0000,
      background-active: #ff0000,
      background-hover: #ff0000,
      background-selected: #ff0000,
      background-selected-hover: #cacaca,
      background-inverse: #393939,
      background-inverse-hover: #4c4c4c,
      background-brand: #0f62fe,

      text-primary: #ff0000,
      text-secondary: #525252,
      text-placeholder: #a8a8a8,
      text-helper: #6f6f6f,
      text-on-color: #d95959,
      text-inverse: #ffffff,
      text-disabled: #c6c6c6,
      text-on-color-disabled: #8d8d8d,

      button-primary: #8f2b2b,
      button-primary-active: #002d9c,
      button-primary-hover: #0353e9,
      button-secondary: #61e59c,
      button-secondary-active: #61e59c,
      button-secondary-hover: #61e59c,
      button-tertiary: #0f62fe,
      button-tertiary-active: #002d9c,
      button-tertiary-hover: #0353e9,
      button-danger-primary: #da1e28,
      button-danger-secondary: #da1e28,
      button-danger-active: #750e13,
      button-danger-hover: #b81921,
      button-disabled: #c6c6c6,
  ),
);

@use '../../node_modules/@carbon/styles';
@use '../../node_modules/@carbon/grid';

@import '../../node_modules/@carbon/themes/scss/themes';
@import '../../node_modules/@carbon/layout';

@include grid.flex-grid();

@import '../../node_modules/carbon-components/scss/globals/scss/styles.scss';


html, body {
  text-rendering: geometricPrecision;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 680px;
  margin: 0 auto;
  padding-top: 70px;
}

.auth.app-container {
  max-width: 335px;
  padding-top: 70px;
}

.welcome.app-container {
  max-width: 980px;
  padding-top: 70px;
  padding-left: 12px;
  padding-right: 12px;
}

.card {
  border: 1px solid var(--grey10);
  background: var(--grey0);
  margin-bottom: 18px;
  padding: 20px;
}

.card-title {
  text-align: center;
  color: var(--primary60);
}

.card-action {
  text-align: center;
}

.card-action a {
  font-size: 15px;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.text-input {
  box-sizing: border-box;
}

.messages .message {
  color: var(--grey70);
  font-size: 12px;
  text-align: left;
  border-radius: 0;
}

.messages.standalone .message {
  margin-bottom: 0;
}

.required-indicator {
  color: var(--primary60);
}

.checkbox {
  margin-bottom: 8px;
}

.checkbox-inner {
  margin-bottom: 6px;
}

.code-box {
  overflow-y: auto;
  max-height: 640px;
  overflow-wrap: break-word;
}

.code-body code {
  overflow-wrap: break-word;
}

.input-button a.button {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
}

.input-button a.button[aria-disabled="true"],
.input-button a.button[aria-disabled="true"]:hover {
  color: #B4B4BB;
  background-color: #E1E1E3;
}

.recovery-code {
  margin-bottom: .5rem;
}

form img {
  margin: 0 auto;
  display: block;
}

/*********************************************/
/***************   General   *****************/
/*********************************************/
$primary: #09132D;
$primary-light: #D7E1FA;
$primary-dark: #040914;

$secondary: #1079FF;
$secondary-light: #75B2FF;
$secondary-dark: #1258B3;

$dark: #040A17;
$dark-100: #34363F;
$grey: #6C6E76;
$grey-100: #C5C8D2;
$grey-200: #E6E9F0;
$grey-300: #FAFBFF;

$tertiary: #25CCA3;
$tertiary-light: rgba(155, 222, 206, 0.9);;
$tertiary-dark: #009974;


h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.subh1, .subh2, .subh3, .subh4, .subh5, .subh5 {
  font-family: 'Open Sans', sans-serif;
}

.weight-500 {
  font-weight: 500;
}

.weight-600 {
  font-weight: 600;
}

.weight-700 {
  font-weight: 700;
}

.text-color-grey {
  color: $grey;
}

// SPACING

$spacings: (
        0: 0,
        1: 4px,
        2: 8px,
        3: 12px,
        4: 16px,
        5: 20px,
        6: 24px,
        7: 28px,
        8: 32px,
        9: 36px,
        10: 40px,
        auto: auto,
);

@each $key, $val in $spacings {
  .top-#{$key} {
    top: $val;
  }
  .bottom-#{$key} {
    bottom: $val;
  }
  .left-#{$key} {
    left: $val;
  }
  .right-#{$key} {
    right: $val;
  }
  .ma-#{$key} {
    margin: $val;
  }
  .mx-#{$key} {
    margin-left: $val;
    margin-right: $val;
  }
  .my-#{$key} {
    margin-top: $val;
    margin-bottom: $val;
  }
  .ml-#{$key} {
    margin-left: $val;
  }
  .mr-#{$key} {
    margin-right: $val;
  }
  .mt-#{$key} {
    margin-top: $val;
  }
  .mb-#{$key} {
    margin-bottom: $val;
  }
  .pa-#{$key} {
    padding: $val;
  }
  .px-#{$key} {
    padding-left: $val;
    padding-right: $val;
  }
  .py-#{$key} {
    padding-top: $val;
    padding-bottom: $val;
  }
  .pl-#{$key} {
    padding-left: $val;
  }
  .pr-#{$key} {
    padding-right: $val;
  }
  .pt-#{$key} {
    padding-top: $val;
  }
  .pb-#{$key} {
    padding-bottom: $val;
  }
  .ma-n#{$key} {
    margin: -$val;
  }
  .mx-n#{$key} {
    margin-left: -$val;
    margin-right: -$val;
  }
  .my-n#{$key} {
    margin-top: -$val;
    margin-bottom: -$val;
  }
  .ml-n#{$key} {
    margin-left: -$val;
  }
  .mr-n#{$key} {
    margin-right: -$val;
  }
  .mt-n#{$key} {
    margin-top: -$val;
  }
  .mb-n#{$key} {
    margin-bottom: -$val;
  }
  .pa-n#{$key} {
    padding: -$val;
  }
  .px-n#{$key} {
    padding-left: -$val;
    padding-right: -$val;
  }
  .py-n#{$key} {
    padding-top: -$val;
    padding-bottom: -$val;
  }
  .pl-n#{$key} {
    padding-left: -$val;
  }
  .pr-n#{$key} {
    padding-right: -$val;
  }
  .pt-n#{$key} {
    padding-top: -$val;
  }
  .pb-n#{$key} {
    padding-bottom: -$val;
  }
}

// display

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.justify-content-btw {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}

.success-bar {
  background: #45C141;
  box-shadow: 0px 7.24464px 14.4893px rgb(9 52 72 / 15%);
  position: absolute;
  right: 24px;
  bottom: 46px;
  display: flex;
  align-items: center;
  color: white;
  padding: 10px 14px;
}

@media (max-width: 671px) {
  .success-bar {
    top: 12px;
    bottom: auto;
    right: 12px;
    left: 12px;
    margin: auto;
  }
}



 /******************  LOGIN   *******************/
#login, #verification, #recovery, #change_password {
   > .cds--row {
     margin: 0;
   }
  .left-image {
    img {
      min-height: 100vh;
      max-width: 100%;
      object-fit: cover;
    }
  }
  .content-box {
    margin: auto;
    h2 {
      margin: 40px 0 20px 0;
    }
    .subh3 {
      font-size: 16px;
      margin-bottom: $spacing-05;
    }
  }

  bx-checkbox {
    margin: 24px 0;
  }

  bx-input:nth-child(1) {
    margin-bottom: 16px;
  }

  bx-btn {
    display: block;
    &[kind="ghost"] {
      margin: 16px 0 48px 0;
      &::part(button) {
        padding: 0;
      }
    }
  }

  bx-input {
    span[slot='helper-text'] {
      color: #C3C7D3;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 12px;
    }
  }
  --cds-field-01: #f5f7fc;
}

.box-number-custom {
  width: 50px;
  height: 50px;

  background: #FAFBFF;
  box-shadow: inset 0px -1px 0px #6B6C73;
  -webkit-appearance: none;
  text-align: center;
  border-top: none;
  border-right: none;
  border-left: none;
  border-image: initial;
  border-bottom: 1px solid var(--cds-ui-04,#8d8d8d);
  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  &[type='number'] {
    -moz-appearance:textfield;
  }
}

@media (max-width: 671px) {
  #login, #verification, #recovery, #change_password {
    padding: 0 2rem;
  }
}

@media (max-width: 1055px) {
  main {
    #recovery, #login, #verification, #change_password{
      margin-top: 60px;
    }
  }
}

/******************  Footer   *******************/
footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 12px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 32px;
  p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-left: 12px;
    font-size: 14px;
    line-height: 140%;
    color: #6B6C73;
  }

  a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #1079FF;
    text-underline: none;
  }
}

@media (max-width: 1056px) {
  footer {
    left: 0;
    display: block;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 25px;
    position: unset;
    p {
      margin-left: 0;
    }
  }
}





