<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/png" href="favico.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>{{projectName}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Rubik:wght@300;400;500&display=swap"
        rel="stylesheet">

    <script src="/dist/bundle.js"></script>

    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="flexboxgrid.min.css">
</head>

<body>
    <main data-testid="app-express">
        {{{body}}}
    </main>
    <footer class="cds--offset-md-0  cds--offset-md-0 cds--offset-lg-5">
        <p>© Mexedia 2021-2022 - Mexedia srl - P.Iva 123456789000</p>
        <a href="###">Informativa privacy - Termini e condizioni</a>
    </footer>
    <script>
        (function submit() {
            const form = document.querySelector("form")
            const button = form.querySelector("[type=submit]")

            const method = document.createElement("input")
            method.style.visibility = "hidden"
            method.setAttribute("name", button.getAttribute("name"))
            method.setAttribute("value", button.getAttribute("value"))
            form.appendChild(method)

            button.addEventListener("click", () => {
                const formData = new FormData(form)
                const event = new CustomEvent("formdata", {
                    bubbles: true,
                    cancelable: false,
                    composed: false,
                })
                event.formData = formData
                form.dispatchEvent(event)
                form.submit();
            })
        }
        )()
    </script>
</body>

</html>