<div class="auth carbonCustom" id="login">
    <div class="cds--row cds--no-gutter">
        <div class="cds--col-lg-5 cds--col-md-0 cds--col-sm-0">
            <div class="left-image">
                <img src="images/background.svg">
            </div>
        </div>
        <div class="cds--col-sm-12 cds--col-md-12 cds--col-lg-11 d-flex">
            <div class="content-box cds--col-md-5 cds--col-lg-8">
                <img src="images/Mexedia.svg">
                <h2 class="weight-700">Accedi tramite Mexedia</h2>
                <p class="subh3 text-color-grey weight-600">Inserisci le credenziali e accedi all’ecosistema Mexedia.
                </p>
                {{> messages messages=messages className="global"}}
                {{> ui ui=ui}}
                <!--                        <bx-checkbox label-text="Ricordami per i prossimi accessi"></bx-checkbox>-->
                <bx-btn kind='ghost' href="{{ recoverUrl }}"> Hai dimenticato la password? </bx-btn>
                <a href="###">Contatta l'assistenza</a>
            </div>
        </div>
    </div>
</div>