<div class="auth carbonCustom" id="login">
    <div class="cds--row cds--no-gutter">
            <div class="cds--col-lg-5">
                <div class="left-image">
                    <img src="images/background.svg">
                </div>
            </div>
            <div class="cds--col-lg-11">
                <div class="">
                    <img src="images/Mexedia.svg">
                    <h2 class="weight-700">Accedi tramite Mexedia</h2>
                    <p class="subh3 text-color-grey weight-700">Inserisci le credenziali e accedi all’ecosistema Mexedia.</p>
                    <bx-form-item>
                        <bx-input placeholder="Inserisci email" size="lg" color-scheme="" type="text">
                            <span class="customText" slot="label-text">Email</span>
                            <span slot="validity-message">Qualcosa non va bene</span>
                        </bx-input>
                    </bx-form-item>
                </div>
            </div>
        </div>
</div>

