<div class="" id="template_email">
        <div class="box-grey">
            <img src="https://mexedia-sso-dev-back-end.s3.eu-south-1.amazonaws.com/mexedia-logo.png" alt="mexedia-logo">
        </div>
        <div class="box-white">
            <p>Ciao [Nome],</p>
            <p class="mt-2">c’è un nuovo report nella Dataroom Mexedia per Nome servizio, uno dei tuoi servizi attivi.</p>
            <p class="mt-3"><a href="###">Clicca qui per visualizzarlo online</a></p>
            <p class="mt-3">PS: lo trovi anche allegato a questa email in formato PDF.</p>
            <p class="mt-3"><b>Con Mexedia la gestione del business è Fast, Easy, Safe.</b></p>
            <p class="regards mt-3">Team Mexedia</p>
        </div>
</div>